body {
    background-color: #FFFFFA;
}

.logo {
    width: 10rem;

}
.logo-hero {
    width: 25rem;
}

.hero {
    background-image: url('../img/hero-bg.webp');
}

.contact-bg {
    background-image: url('../img/contact-bg.webp');
}