body {
    background-color: #FFFFFA;
}

.logo {
    width: 10rem;

}
.logo-hero {
    width: 85%;
}

.hero {
    background-image: url('../img/hero-bg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.contact-bg {
    background-image: url('../img/contact-bg.webp');
}

.opacity-2-test {
    opacity: 0.38 !important;
}
